[View in Colaboratory](https://colab.research.google.com/github/NicknameSoHard/Open_course_ML/blob/master/ML_homework_1.ipynb)

Источник задания: http://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_russian/assignments_demo/assignment01_adult_pandas.ipynb

In [1]:
!wget https://raw.githubusercontent.com/Yorko/mlcourse_open/master/data/adult.data.csv -P drive/Open_course_ML

--2018-07-07 16:43:33--  https://raw.githubusercontent.com/Yorko/mlcourse_open/master/data/adult.data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3518607 (3.4M) [text/plain]
Saving to: ‘drive/Open_course_ML/adult.data.csv’

adult.data.csv      100%[===================>]   3.36M  14.4MB/s    in 0.2s

2018-07-07 16:43:33 (14.4 MB/s) - ‘drive/Open_course_ML/adult.data.csv’ saved [3518607/3518607]

In [2]:
import pandas as pd
data = pd.read_csv('drive/Open_course_ML/adult.data.csv')
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

**1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?**

In [3]:
data['sex'].value_counts()['Female']

10771

**2. Каков средний возраст (признак age) женщин?**

In [4]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак native-country) в процентах?**

In [5]:
(data['native-country'].value_counts()['Germany'] * 100) / data.shape[0]

0.42074874850281013

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?**

In [6]:
print('Для тех, кто получает больше 50К:')
print('Среднее значение возраста: '+ str(data[data['salary'] == '>50K']['age'].mean()) )
print('Среднеквадратическое отклонение (Стандартное отклонение): ' + str(data[data['salary'] == '>50K']['age'].std()) )

print('\nДля тех, кто получает меньше 50К:')
print('Среднее значение возраста: '+ str(data[data['salary'] == '<=50K']['age'].mean()) )
print('Среднеквадратическое отклонение (Стандартное отклонение): ' + str(data[data['salary'] == '<=50K']['age'].std()) )

Для тех, кто получает больше 50К:
Среднее значение возраста: 44.24984058155847
Среднеквадратическое отклонение (Стандартное отклонение): 10.519027719851826

Для тех, кто получает меньше 50К:
Среднее значение возраста: 36.78373786407767
Среднеквадратическое отклонение (Стандартное отклонение): 14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)**

In [7]:
# hight_education_list = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
# data[data['salary'] == '>50K' and data['education'] not in hight_education_list].bool()

print('Утверждение ' + str(data[(data['salary'] == '>50K') & ((data['education'] != 'Bachelors') | (data['education'] != 'Prof-school') | (data['education'] != 'Assoc-acdm') | (data['education'] != 'Assoc-voc') | (data['education'] != 'Masters') | (data['education'] != 'Doctorate') )].shape[0] == 0))

Утверждение False

**7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.**

In [8]:
data.groupby(['race'])['age'].describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [9]:
count_married = data[(data['salary'] == '>50K') & (data['sex'] != 'Female')  & ((data['marital-status'] == 'Married-civ-spouse') | (data['marital-status'] == 'Married-spouse-absent') | (data['marital-status'] == 'Married-AF-spouse'))].shape[0]
count_not_married = data[(data['salary'] == '>50K') & (data['sex'] != 'Female')  & ((data['marital-status'] != 'Married-civ-spouse') | (data['marital-status'] != 'Married-spouse-absent') | (data['marital-status'] != 'Married-AF-spouse'))].shape[0]
if count_married - count_not_married:
  print('Женатых мужчин больше')
else:
  print('Не женатых мужчин больше')

Женатых мужчин больше

**9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [10]:
print('Максимальная выработка в неделю: ' + str(data['hours-per-week'].max()) )
count_people_that_work_max_hours = data[ data['hours-per-week'] == data['hours-per-week'].max()].shape[0]
print('Людей, которые работают по-максимуму: ' + str(count_people_that_work_max_hours))

print('Людей, которые зарабатывают >50к и работающих максимум времени: ' + str( (data[(data['hours-per-week'] == data['hours-per-week'].max()) & (data['salary'] == '>50K')].shape[0]) / data[ data['hours-per-week'] == data['hours-per-week'].max()].shape[0]))

Максимальная выработка в неделю: 99
Людей, которые работают по-максимуму: 85
Людей, которые зарабатывают >50к и работающих максимум времени: 0.29411764705882354

**10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).**

In [11]:
data[data['salary'] == '<=50K'].groupby(['native-country'])['hours-per-week'].describe()

,count,mean,std,min,25%,50%,75%,max
native-country,,,,,,,,
?,437.0,40.164760,12.817002,1.0,40.00,40.0,45.00,99.0
Cambodia,12.0,41.416667,3.088346,40.0,40.00,40.0,40.50,50.0
Canada,82.0,37.914634,13.012056,8.0,32.75,40.0,40.00,70.0
China,55.0,37.381818,11.439844,1.0,36.00,40.0,40.00,60.0
Columbia,57.0,38.684211,8.610952,5.0,40.00,40.0,40.00,60.0
Cuba,70.0,37.985714,9.960055,5.0,40.00,40.0,40.00,70.0
Dominican-Republic,68.0,42.338235,11.121594,22.0,40.00,40.0,40.00,98.0
Ecuador,24.0,38.041667,10.251105,22.0,30.00,40.0,40.00,66.0
El-Salvador,97.0,36.030928,9.396867,3.0,32.00,40.0,40.00,60.0
England,60.0,40.483333,15.177472,7.0,40.00,40.0,45.00,99.0
France,17.0,41.058824,12.401969,15.0,40.00,40.0,50.00,66.0
Germany,93.0,39.139785,12.121299,6.0,38.00,40.0,45.00,70.0
Greece,21.0,41.809524,16.857103,4.0,40.00,40.0,55.00,75.0
Guatemala,61.0,39.360656,6.570218,18.0,40.00,40.0,40.00,60.0
Haiti,40.0,36.325000,11.943000,10.0,30.00,40.0,40.00,75.0
Holand-Netherlands,1.0,40.000000,NaN,40.0,40.00,40.0,40.00,40.0
Honduras,12.0,34.333333,8.626949,17.0,30.00,37.5,40.00,45.0
Hong,14.0,39.142857,4.294131,30.0,37.75,40.0,40.00,50.0
Hungary,10.0,31.300000,18.595400,3.0,20.00,30.0,47.50,60.0
India,60.0,38.233333,12.617403,8.0,35.00,40.0,40.00,84.0
Iran,25.0,41.440000,12.440123,6.0,40.00,40.0,48.00,65.0
Ireland,19.0,40.947368,7.183884,25.0,38.00,40.0,42.00,55.0
Italy,48.0,39.625000,15.090683,6.0,38.75,40.0,40.00,80.0
Jamaica,71.0,38.239437,9.673919,10.0,35.00,40.0,40.00,70.0
Japan,38.0,41.000000,11.902759,10.0,40.00,40.0,41.50,65.0
Laos,16.0,40.375000,4.112988,31.0,40.00,40.0,40.00,50.0
Mexico,610.0,40.003279,10.377441,4.0,40.00,40.0,40.00,99.0
Nicaragua,32.0,36.093750,8.663454,11.0,30.00,40.0,40.00,60.0
Outlying-US(Guam-USVI-etc),14.0,41.857143,10.747859,24.0,36.25,40.0,50.25,60.0
Peru,29.0,35.068966,11.609513,4.0,28.00,40.0,40.00,60.0
Philippines,137.0,38.065693,11.265646,8.0,40.00,40.0,40.00,99.0
Poland,48.0,38.166667,12.237600,3.0,40.00,40.0,40.00,65.0
Portugal,33.0,41.939394,9.062075,30.0,40.00,40.0,40.00,84.0
Puerto-Rico,102.0,38.470588,9.745988,6.0,36.00,40.0,40.00,80.0
Scotland,9.0,39.444444,9.166667,20.0,40.00,40.0,40.00,55.0
South,64.0,40.156250,16.831771,4.0,35.00,40.0,48.50,99.0
Taiwan,31.0,33.774194,14.270505,2.0,20.00,40.0,40.00,60.0
Thailand,15.0,42.866667,20.413114,10.0,35.00,40.0,52.50,80.0
Trinadad&Tobago,17.0,37.058824,12.477332,14.0,35.00,40.0,40.00,60.0
United-States,21999.0,38.799127,12.400570,1.0,35.00,40.0,40.00,99.0
Vietnam,62.0,37.193548,12.422664,1.0,40.00,40.0,40.00,77.0
Yugoslavia,10.0,41.600000,11.305849,20.0,40.00,40.0,40.00,66.0

In [12]:
data[data['salary'] == '>50K'].groupby(['native-country'])['hours-per-week'].describe()

,count,mean,std,min,25%,50%,75%,max
native-country,,,,,,,,
?,146.0,45.547945,10.202827,8.0,40.00,40.0,50.00,80.0
Cambodia,7.0,40.000000,0.000000,40.0,40.00,40.0,40.00,40.0
Canada,39.0,45.641026,12.066673,20.0,40.00,45.0,51.00,72.0
China,20.0,38.900000,10.125008,10.0,38.00,40.0,41.25,60.0
Columbia,2.0,50.000000,0.000000,50.0,50.00,50.0,50.00,50.0
Cuba,25.0,42.440000,12.453514,14.0,40.00,40.0,50.00,60.0
Dominican-Republic,2.0,47.000000,9.899495,40.0,43.50,47.0,50.50,54.0
Ecuador,4.0,48.750000,2.500000,45.0,48.75,50.0,50.00,50.0
El-Salvador,9.0,45.000000,7.071068,35.0,40.00,45.0,50.00,55.0
England,30.0,44.533333,11.072592,20.0,40.00,40.0,50.00,85.0
France,12.0,50.750000,16.360290,40.0,40.00,47.5,50.00,99.0
Germany,44.0,44.977273,11.944618,8.0,40.00,45.0,50.00,70.0
Greece,8.0,50.625000,11.783008,35.0,40.00,50.0,61.25,65.0
Guatemala,3.0,36.666667,5.773503,30.0,35.00,40.0,40.00,40.0
Haiti,4.0,42.750000,9.142392,35.0,38.75,40.0,44.00,56.0
Honduras,1.0,60.000000,NaN,60.0,60.00,60.0,60.00,60.0
Hong,6.0,45.000000,10.000000,40.0,40.00,40.0,43.75,65.0
Hungary,3.0,50.000000,10.000000,40.0,45.00,50.0,55.00,60.0
India,40.0,46.475000,10.056220,20.0,40.00,41.5,50.00,72.0
Iran,18.0,47.500000,10.325582,30.0,40.00,45.0,53.75,70.0
Ireland,5.0,48.000000,10.954451,40.0,40.00,40.0,60.00,60.0
Italy,25.0,45.400000,9.495613,20.0,40.00,40.0,50.00,67.0
Jamaica,10.0,41.100000,4.954235,35.0,38.50,40.0,40.00,50.0
Japan,24.0,47.958333,16.120414,21.0,40.00,42.5,50.00,99.0
Laos,2.0,40.000000,0.000000,40.0,40.00,40.0,40.00,40.0
Mexico,33.0,46.575758,10.917390,30.0,40.00,40.0,50.00,80.0
Nicaragua,2.0,37.500000,3.535534,35.0,36.25,37.5,38.75,40.0
Peru,2.0,40.000000,0.000000,40.0,40.00,40.0,40.00,40.0
Philippines,61.0,43.032787,8.445842,35.0,40.00,40.0,40.00,80.0
Poland,12.0,39.000000,9.779385,10.0,40.00,40.0,40.00,50.0
Portugal,4.0,41.500000,5.972158,36.0,39.00,40.0,42.50,50.0
Puerto-Rico,12.0,39.416667,11.057357,8.0,40.00,40.0,42.50,50.0
Scotland,3.0,46.666667,11.547005,40.0,40.00,40.0,50.00,60.0
South,16.0,51.437500,10.942082,35.0,40.00,50.0,60.00,70.0
Taiwan,20.0,46.800000,13.485275,27.0,40.00,40.0,55.00,84.0
Thailand,3.0,58.333333,14.433757,50.0,50.00,50.0,62.50,75.0
Trinadad&Tobago,2.0,40.000000,0.000000,40.0,40.00,40.0,40.00,40.0
United-States,7171.0,45.505369,11.025092,1.0,40.00,40.0,50.00,99.0
Vietnam,5.0,39.200000,1.788854,36.0,40.00,40.0,40.00,40.0
Yugoslavia,6.0,49.500000,11.202678,40.0,40.00,46.0,58.00,65.0

**Результат:** 

![alt text](https://pp.userapi.com/c845324/v845324145/94916/kp2a9THkFVg.jpg)